#tableReservation {
    border-collapse: collapse;
    width: 70%;
}

#tableReservation td, #tableReservation th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableReservation tr:nth-child(even){background-color: #f2f2f2;}

#tableReservation tr:hover {background-color: #dcdcdc;}

#tableReservation th {
    padding: 12px;
    text-align: center;
    background-color: #0a98a8;
    color: #ffffff;
}