body

{

	margin: 0;

	padding: 0;

	background : url(Quest3.jpg);

	background-size: cover;

	font-family : sans-serif;

	

	

}



.loginBox

{

	position: absolute;

	top : 50%;

	left: 50%;

	transform: translate(-50%, -50%);

	width: 400px;

	height: 470px;

	padding: 80px 40px;

	box-sizing: border-box;

	background: rgba(0,0,0,0.3);

	

}



.adminBox{

	position: absolute;

	top : 70%;

	left: 50%;

	right: 50%;

	bottom: 30%;

	transform: translate(-50%, -50%);

	width: 500px;

	height: 1000px;

	padding: 80px 40px;

	box-sizing: border-box;

	background: rgba(0,0,0,0.3);

	text-align: center;

	

}



.createaccountbox{

	position: absolute;

	top: 70%;

	left: 50%;

	right: 50%;

	bottom: 30%;

	transform: translate(-50%, -50%);

	width: 500px;

	height:1000px;

	box-sizing: border-box;

	background: rgba(0,0,0,.5)

}



.editaccountbox{

	position: absolute;

	top: 100%;

	left: 50%;

	right: 50%;

	transform: translate(-50%, -50%);

	width: 500px;

	height: 1500px;

	box-sizing: border-box;

	background: rgba(0,0,0,.5)

}



.menuBox

{

	position: absolute;

	top : 50%;

	left: 50%;

	transform: translate(-50%, -50%);

	width: 1200px;

	height: 500px;

	padding: 80px 40px;

	box-sizing: border-box;

	background: rgba(0,0,0,.5);

	text-align: center;

	

}



.user



{

	

	width: 100px;

	height: 100px;

	border-radius: 50%;

	overflow: hidden;

	position: absolute;

	top: calc(-100px/2);

	left: calc(50% - 50px);

	

}



h2



{

	margin: 0;

	padding: 0 0 20px;

	color: #efed40;

	text-allign: center;

}



h2.title{

	text-align: center;

	

}



h3

{

	color: #efed40;

	text-allign: center;

}



h1{

	

	color: #efed40;

	text-allign: right;

	

	

}



.loginBox p

{

	margin: 0;

	padding: 0;

	font-weight: bold;

	color: #fff;



}



.createaccountbox p

{

	margin: 0;

	padding: 0;

	font-weight: bold;

	color: #fff;



}



.editaccountbox p

{

	margin: 0;

	padding: 0;

	font-weight: bold;

	color: #fff;



}



.adminBox p

{

	margin: 0;

	padding: 0;

	font-weight: bold;

	color: #fff;



}



.loginBox input{

	width: 100%;

	margin-bottom: 30px;

}



.createaccountbox input{

	width: 100%;

	margin-bottom: 30px;

}



.editaccountbox input{

	width: 100%;

	margin-bottom: 30px;

}



.adminbox input{

	width: 100%;

	margin-bottom: 30px;

}



.loginBox input[type="text"],

.loginBox input[type="password"]

{

	border: none;

	border-bottom: 1px solid #fff;

	background: transparent;

	outline: none;

	height: 40px;

	color: #fff;

	font-size: 14px;

	

}



.createaccountbox input[type="text"],

.createaccountbox input[type="password"]

{

	border: none;

	border-bottom: 1px solid #fff;

	background: transparent;

	outline: none;

	height: 40px;

	color: #fff;

	font-size: 14px;

	

}



.editaccountbox input[type="text"],

.editaccountbox input[type="password"]

{

	border: none;

	border-bottom: 1px solid #fff;

	background: transparent;

	outline: none;

	height: 40px;

	color: #fff;

	font-size: 14px;

	

}



.adminBox input[type="text"],

.adminBox input[type="password"]

{

	border: none;

	border-bottom: 1px solid #fff;

	background: transparent;

	outline: none;

	height: 40px;

	color: #fff;

	font-size: 14px;

	

}



::placeholder{

	color: rgba(255,255,255,.5);

}



.loginBox input[type="submit"]{

	border: none;

	outline: none;

	height: 30px;

	color: #fff;

	font-size: 16px;

	background: #ff267e;

	cursor: pointer;

	border-radius: 20px;

}



.createaccountbox input[type="submit"]{

	border: none;

	outline: none;

	height: 30px;

	color: #fff;

	font-size: 16px;

	background: #ff267e;

	cursor: pointer;

	border-radius: 20px;

}



.editaccountbox input[type="submit"]{

	border: none;

	outline: none;

	height: 30px;

	color: #fff;

	font-size: 16px;

	background: #ff267e;

	cursor: pointer;

	border-radius: 20px;

}



.adminBox input[type="submit"]{

	border: none;

	outline: none;

	height: 30px;

	color: #fff;

	font-size: 16px;

	background: #ff267e;

	cursor: pointer;

	border-radius: 20px;

}



.loginBox input[type="submit"]:hover{

	background: #efed40;

	color: #262626;

}



.createaccountbox input[type="submit"]:hover{

	background: #efed40;

	color: #262626;

}



.editaccountbox input[type="submit"]:hover{

	background: #efed40;

	color: #262626;

}



.adminbox input[type="submit"]:hover{

	background: #efed40;

	color: #262626;

}



.loginBox a{

	color: #fff;

}



.loginBox a {

	color: #fff;

	font-size: 14px;

	font-weight: bold;

	text-decoration: none;

}



u1{

	list-style-type: none;

	margin: 0;

	padding: 10px;

	overflow: hidden;

	background-color: #333;

}



li{

	float: right;

}

	

li a {

	display: inline-block;

	color: white;

	text-align: center;

	padding: 14px 16px;

	text-decoration: none;

}



li a:hover {

	background-color: skyblue ;

	

}



.active{

	background-color: red;

	

}



.highlight p{

	color: #fff;

	test-align: center;

	font-family: sans-serif;

	Letter-spacing: 2px;

	padding: 200px 0;

	font-size: 2em;

	

}



.highlight{

	

	background: linear-gradient(to right, #FFD0AE;

	border-radius: 6px;

	padding: 3px 6px;

}